@model WebApplication1.Models.OpenWeatherMap
@{ ViewBag.Title = "Weather";}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/extras.css">

    <title>Weather</title>
</head>
<body>
    <h3>Choose the perfect Restaurant for the perfect weather</h3>
    <div class="columnsWeather">If its Summer you should eat some borito at Mexicana by the beach!
    If its Winter you should eat some warming noodles at ChopChop! For spring vibes we recommand the perfect salad at Ladwers.
    And for the amazing Fall weather you really need some of Vivino's Pizza, Enjoy!</div>


    <div id="apiDiv">
        <h4>Select the City for Weather Report</h4>
        @using (Html.BeginForm())
        {
            foreach (var city in Model.cities)
            {
                <span>
                    @Html.RadioButtonFor(m => m.cities, city.Value) @city.Key
                </span>
            }

            <button name="submit">Submit</button>
        }
        <div id="message">@(Html.Raw(Model.apiResponse))</div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("input[id='cities']").change(function () {
                $(this).parents("#apiDiv").find("span").css("background", "none");
                $(this).parent().css("background", "blue");
            });
        });
    </script>
</body>