@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/test1.css">

    <title>Truffle</title>
</head>

<body>
    <!--navbar start-->

    <nav class="navbar navbar-expand-lg  my-nav fixed-top">
        <a class="navbar-brand" href="#"><img id="logo" src="img/logoMain.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span> <i class="fa fa-bars"></i> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Restaurants/Index">Restaurants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Cities/Index">Cities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Restaurants/Create">Got a restaurant? Click here!</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- navbar end-->
    <!--landing page start-->
    <div id="home">
        <div class="landing-text">
            <p class="landingheading1">welcome to truffle</p>
            <p class="landingheading2 d-none d-sm-block">book a table and enjoy!</p>
        </div>
    </div>
    <!--landing page end-->
    <!--team start-->
    <video id="video" width="500" height="200" controls>
        <source src="/img/Good Food Good Mood.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="container-fluid team mb-5">
        <div class="container">
            <div class="row top-heading mt-5">
                <div class="col-md-12">
                    <h1 class="header-about">Popular Categories</h1>
                </div>
                <!--test s-->
                <div class="wrapper">
                    <div class="card">
                        <img src="~/img/italian.png" />
                        <div class="info">
                            <h1>Italian</h1>
                            <p>Check out some of the best Italian Restaurants</p>
                            <a href="/Categories/Details/2" class="btn btn-md home-btn">Read More</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="~/img/mexican.png" />
                        <div class="info">
                            <h1>Mexican</h1>
                            <p>Best spicy and exotic Mexican Restaurants.</p>
                            <a href="/Categories/Details/3" class="btn btn-md home-btn">Read More</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="~/img/sushi.png" />
                        <div class="info">
                            <h1>Sushi</h1>
                            <p>We picked for you the best asian Restaurants.</p>
                            <a href="/Categories/Details/1" class="btn btn-md home-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <!--test e-->
            </div>
        </div>
    </div>

    @if (signInManager.IsSignedIn(User) && User.IsInRole("Site Admin"))
    {
        <div class="admin-view">
            <a href="/Reservations/Index" class="btn btn-md admin-btn">View Reservations</a>
        </div>
        <div class="admin-view">
            <a href="/Categories/Create" class="btn btn-md admin-btn">Create Categories</a>
        </div>
        <div class="admin-view">
            <a href="/Cities/Create" class="btn btn-md admin-btn">Create Cities</a>
        </div>
    }

    <!--team end-->
    <!--why u come here start-->

    <div class="container-fluid pt-5 bg-gray pb-5">
        <div class="container">
            <div class="row top-heading mt-5">
                <div class="col-md-12">
                    <h1 class="header-about">Enjoy our services</h1>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-sm-6">
                    <img src="img/table.png" class="img-fluid hero-img" alt="img2">
                </div>

                <div class="col-sm-6">
                    <h3 class="hero-heading">Table Reservation</h3>
                    <p class="hero-paragraph">
                        Reserve a table any time, its quick and easy!
                        <br>
                        <br />
                    </p>
                    <a href="/Reservations/Create" class="btn btn-md home-btn">Book Now</a>
                </div>

            </div>

            <div class="row mt-4">

                <div class="col-sm-6">
                    <h3 class="hero-heading">Statistics</h3>
                    <p class="hero-paragraph">
                        Recive a restaurant Statistics.
                        <br>
                        <br />
                    </p>
                    <a href="/Statistics/Index1" class="btn btn-md home-btn">Cities Group By</a>
                    <a href="/Statistics/Index2" class="btn btn-md home-btn">Reservations Join</a>
                    <a href="/Statistics/graph1" class="btn btn-md home-btn">Cities Graph</a>
                    <a href="/Statistics/graph2" class="btn btn-md home-btn">Reservations Graph</a>
                </div>

                <div class="col-sm-6">
                    <img src="img/ai.jpg" class="img-fluid hero-img" alt="img2">
                </div>
            </div>
        </div>
    </div>
    <!--why u come here end-->
    <canvas id="canvas" width="200" height="200"
            style="background-color: royalblue">
    </canvas>
    <script>
        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext("2d");
        var radius = canvas.height / 2;
        ctx.translate(radius, radius);
        radius = radius * 0.90
        setInterval(drawClock, 1000);

        function drawClock() {
            drawFace(ctx, radius);
            drawNumbers(ctx, radius);
            drawTime(ctx, radius);
        }

        function drawFace(ctx, radius) {
            var grad;
            ctx.beginPath();
            ctx.arc(0, 0, radius, 0, 2 * Math.PI);
            ctx.fillStyle = 'white';
            ctx.fill();
            grad = ctx.createRadialGradient(0, 0, radius * 0.95, 0, 0, radius * 1.05);
            grad.addColorStop(0, '#333');
            grad.addColorStop(0.5, 'white');
            grad.addColorStop(1, '#333');
            ctx.strokeStyle = grad;
            ctx.lineWidth = radius * 0.1;
            ctx.stroke();
            ctx.beginPath();
            ctx.arc(0, 0, radius * 0.1, 0, 2 * Math.PI);
            ctx.fillStyle = '#333';
            ctx.fill();
        }

        function drawNumbers(ctx, radius) {
            var ang;
            var num;
            ctx.font = radius * 0.15 + "px arial";
            ctx.textBaseline = "middle";
            ctx.textAlign = "center";
            for (num = 1; num < 13; num++) {
                ang = num * Math.PI / 6;
                ctx.rotate(ang);
                ctx.translate(0, -radius * 0.85);
                ctx.rotate(-ang);
                ctx.fillText(num.toString(), 0, 0);
                ctx.rotate(ang);
                ctx.translate(0, radius * 0.85);
                ctx.rotate(-ang);
            }
        }

        function drawTime(ctx, radius) {
            var now = new Date();
            var hour = now.getHours();
            var minute = now.getMinutes();
            var second = now.getSeconds();
            //hour
            hour = hour % 12;
            hour = (hour * Math.PI / 6) +
                (minute * Math.PI / (6 * 60)) +
                (second * Math.PI / (360 * 60));
            drawHand(ctx, hour, radius * 0.5, radius * 0.07);
            //minute
            minute = (minute * Math.PI / 30) + (second * Math.PI / (30 * 60));
            drawHand(ctx, minute, radius * 0.8, radius * 0.07);
            // second
            second = (second * Math.PI / 30);
            drawHand(ctx, second, radius * 0.9, radius * 0.02);
        }

        function drawHand(ctx, pos, length, width) {
            ctx.beginPath();
            ctx.lineWidth = width;
            ctx.lineCap = "round";
            ctx.moveTo(0, 0);
            ctx.rotate(pos);
            ctx.lineTo(0, -length);
            ctx.stroke();
            ctx.rotate(-pos);
        }
    </script>
    <!--footer start-->
    <footer class="container-fluid">
        <div class="container pt-3 pb-3">
            <div class="row">
                <div class="col-md-4 offset-md-4">Designed by Sapir, Ben &Ilay</div>
                <a class="nav-link-footer" href="/Office/Index">About Us</a>
            </div>
        </div>
    </footer>
    <!-- footer end-->
</body>
</html>