/* CSS Document */
html, body {
    height: 100%;
    width: 100%;
    background: lightsteelblue;
    font-family: "Playfair Display";
}

h2,h4, h5, h6 {
    font-family: "Playfair Display";
    letter-spacing: 3px;
    color:white;
}
h1, h3{
    color:darkblue;
}
.col-md-6{
    background-color:gainsboro;
}
.jumbotron{
    background-color:darkblue;
}
.hero-paragraph {
    font-size: 18px;
}
.hero-img {
    width: 250px;
    position: relative;
    border-radius: 50%;
}
.label-primary {
    background-color: gainsboro;
}
.form-control {
    background-color: gainsboro;
}
.columnsWeather {
    column-count: 3;
    font-size: 20px;
}

h3 {
    color: darkblue;
}

#apiDiv {
    padding-left: 20px;
}

    #apiDiv select, #apiDiv button {
        font-size: 25px;
    }

    #apiDiv h4 {
        margin: 10px 0;
    }

    #apiDiv #message table {
        width: 100%;
        border: double 1px #000000;
        background: #ffffff;
        color: darkblue;
    }

        #apiDiv #message table th {
            text-align: left;
            background: #ffffff;
            color: darkblue;
        }