@model GroupRestCityViewModel
@{
    ViewData["Title"] = "Statistics";
}
<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/css/test1.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://github.com/dotnetcurry/D3.js-aspnet-webapi-charts/blob/master/D3PieChartWithWebAPI/Scripts/d3.js"></script>
    <script src="https://github.com/dotnetcurry/D3.js-aspnet-webapi-charts/blob/master/D3PieChartWithWebAPI/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <h1>Groupby Graph:</h1>
    <section>
        here you can see the amount of restaurants per city.
    </section>
    <section>
        if you want to see the amount of reservations per day you should check <a href="/Statistics/graph2">this page</a>
    </section>
    <script>
        $(function () {
            var chartData = [];
            var colors = [];
            $.ajax({
                type: "GET",
                url: "/Statistics/Get",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (i, j) {
                        chartData.push([j.numberOfRestaurants, j.cityName]);
                        var currentColor = '#' + Math.floor(Math.random() * Math.pow(2, 32) ^ 0xffffff).toString(16).substr(-6);
                        colors.push(currentColor);
                    });
                    console.log(chartData);
                    var radius = 300;
                    var colorScale = d3.scaleOrdinal().range(colors);

                    var area = d3.select('body').append('svg')
                        .attr('width', 1500)
                        .attr('height', 1500);
                    var pieGroup = area.append('g').attr('transform', 'translate(600, 600)');
                    //For Doughnut Chart
                    var arc = d3.arc()
                        .innerRadius(radius - 10)
                        .outerRadius(0);

                    var pie = d3.pie()
                        .value(function (data) { return data[0]; })
                    var arcs = pieGroup.selectAll('.arc')
                        .data(pie(chartData))
                        .enter()
                        .append('g')
                        .attr('class', 'arc');

                    arcs.append('path')
                        .attr('d', arc)
                        .attr('fill', function (d) { return colorScale(d.data[0]); });

                    arcs.append('text')
                        .attr('transform', function (data) { return 'translate(' + arc.centroid(data) + ')'; })
                        .attr('text-anchor', 'middle')
                        .attr('font-size', '1em')
                        .text(function (data) { return data.data; });
                },
                error: function (msg) {
                    $("#result").text(msg);
                }
            });
        });
    </script>
    <h1>Restaurants Per City Graph</h1>
    <a href="/Restaurants/Index" class="btn btn-md home-btn">Go To Restaurants</a>
    <a href="/Cities/Index" class="btn btn-md home-btn">Go To Cities</a>
</body>
</html>